@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&display=swap');


body {
  background: url('https://images.unsplash.com/photo-1504587614488-3259c5c1d9b7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTN8fGNvbG9yZnVsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-repeat:repeat-y;
}


h1 {
  display: flex;
  justify-content: center;
  letter-spacing:20px;
  font-size: 55px;
  font-family: 'Dela Gothic One', cursive;
  text-transform: uppercase;
 

}

.logo {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-navbar li {
  display: inline;
  text-align: center;
  text-decoration: none;
  padding: 14px;
  border-right: 6px solid #269e54a4;
  font-family: 'Dela Gothic One', cursive;
}

/*Add a hover to links*/

nav,
li {
  text-align: center;
  list-style: none;


}

.hero-image {
  width: 50%;





}
li:hover{
  background: #269e54a4;
  color: black;
  text-transform: uppercase;
  
  

 
}

.hero-section {
  background: #269e54a4;
  height: 350px;
  display: flex;
  margin-top: 50px;
  top:-35%;
  left:-5%;
  transform:rotate(2deg);
  

}

.hero-text {
  display: flex;
  width: 90%;
  padding: 8%;
  line-height: 1.6;
  padding-left:20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-left:1.5%;
  transform:rotate(-2deg);
  background: white;

}
.classes, .artists{
  display:inline-block;
  background-color:#269e54a4 ;
  padding-top:1%;
  padding-bottom:0;
  margin-right:50%;
  margin-top:5%;
 
  margin-left:5%;
  font-family: 'Montserrat', sans-serif;
  padding-right:5%;
  padding-left:5%;
  line-height: 1.6;
  width:500px;
  background:linear-gradient(50deg, transparent 50px, #fc212190 0) top right;
  
  
  

  
}
.info .artists{
  margin-left:50%;
}
.info .classes{
  margin-left:15%;
}

.classes h2, .artists h2{
  font-size:30px;
  font-weight: 300;
  font-family: 'Dela Gothic One', cursive;
  background-color: white;
  text-align: center;
  margin-bottom:50px;
  margin-top:30px;
  letter-spacing: 6px;
  text-transform: uppercase;

}

.classes-image{
  width:70%;
  display: flex;
 margin: 0 auto;

 
}
.artists-image{
  width: 70%;
  height:325px;
  display:flex;
  margin:0 auto;
}
.classes p, .artists p{
  background:white;
  padding:30px;
 font-size:18px;
 line-height: 1.7;
 
}

/*MEDIA QUERY*/
@media(max-width: 600px) {
  p.hero-text {
    font-size: 10px;


  }

  .hero-section {
    max-width: 400px;
    max-height: 300px;

  }

  h1 {
    font-size: 25px;
  }

  .main-navbar li {
    display: block;
    padding: 2px;
  }
}
