@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&display=swap');
body {
    background-color: white;
  }
h1{
  display:flex;
  justify-content: center;
  letter-spacing: 4px;
  font-size: 45px;
  font-family: 'Dela Gothic One', cursive;

}
.logo{
  display: flex;
  margin:0 auto;
  margin-bottom:50px;
}
.main-navbar li{
display: inline;
text-align: center;
text-decoration: none;
padding:14px;
border-right: 6px solid #269e54a4;
font-family: 'Dela Gothic One', cursive;
}
/*Add a hover to links*/



nav, li{
  text-align: center;
  list-style: none;


}
.hero-image{
  width:50%;
  
 
  
  
  
}
.hero-section{
  background: #269e54a4;
  height:350px;
  display: flex;
 margin-top:50px;

}
.hero-text{
  display: flex;
  width:90%;
  padding-top:35px;
  padding-left:6%;
  line-height:1.6;
  font-size:18px;
  font-family: 'Montserrat', sans-serif;
}


  


  
  


  
}
