body {
    background-color: white;
  }
h1{
  display:flex;
  justify-content: center;
  letter-spacing: 4px;
  font-size: 55px;
}
.main-navbar li{
display: inline;
text-align: center;
text-decoration: none;
padding:4px;

}
nav, li{
  text-align: center;
  list-style: none;
}
